{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Last 3 TV shows from "{{ categoryName }}" category: </h1>
        {% for program in programs %}
            <div>
                <h2>{{ loop.index }} / <a href="{{ path('wild_show', { 'slug': hyphenizedPrograms[loop.index - 1] }) }}">{{ program.title }}</a></h2>
                <p>{{ program.synopsis }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
