{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>
            Episode {{ episode.number }}: {{ episode.title }}
        </h1>
        <p>
            <b>
                Season {{ season.number }}
            </b>
            -
            {{ program.title }}
        </p>
        <p>
            {{ episode.synopsis }}
        </p>
        <hr />
        <p>
            <a href="{{ path('show_season', {seasonId: season.id}) }}">
                Back to episodes list
            </a>
        </p>
    </div>
{% endblock %}
